@use "sass:math";
$wrap_width:1024px;
$main_width:math.div($wrap_width, 16)*12;
$side_width:math.div($wrap_width, 16)*4;


body{
    background-color: red;
    font-size: 20px;

    header{
        background-image:url("./head_bg.jpg");
        background-position: 50% 50%;
        height:200px;
    }

    #wrap{
        margin:0 auto;
        display: flex;
        align-items: stretch;
        width: $wrap_width;

        #main{
            display: flex;
            flex-wrap:wrap;
            background-color: blue;
            width: $main_width;
            .content{
                width:math.div($main_width, 4);
                &_inner{
                    border:1px solid #ff00ff;
                    width:math.div($main_width, 4) - 10px;
                    overflow: hidden;
                    img{
                        width:math.div($main_width, 4) - 10px;
                    }
                }
            }
        }
        #side{
            background-color: green;
            width: $side_width;
        }
    }
}